@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.hero, .links-redes .works:hover, .header .nav-links a:hover {
  font-size: clamp(40px, 10vw, 100px);
  line-height: 1;
  display: inline-block;
  color: #fff;
  z-index: 2;
  letter-spacing: 10px;
  filter: drop-shadow(0 1px 2px);
}

.layers, .links-redes .works:hover, .header .nav-links a:hover {
  position: relative;
}
.layers::before, .links-redes .works:hover::before, .header .nav-links a:hover::before, .layers::after, .links-redes .works:hover::after, .header .nav-links a:hover::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}
.layers::before, .links-redes .works:hover::before, .header .nav-links a:hover::before {
  top: 10px;
  left: 15px;
  color: #e0287d;
}
.layers::after, .links-redes .works:hover::after, .header .nav-links a:hover::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.single-path {
  -webkit-clip-path: polygon(0% 12%, 53% 12%, 53% 26%, 25% 26%, 25% 86%, 31% 86%, 31% 0%, 53% 0%, 53% 84%, 92% 84%, 92% 82%, 70% 82%, 70% 29%, 78% 29%, 78% 65%, 69% 65%, 69% 66%, 77% 66%, 77% 45%, 85% 45%, 85% 26%, 97% 26%, 97% 28%, 84% 28%, 84% 34%, 54% 34%, 54% 89%, 30% 89%, 30% 58%, 83% 58%, 83% 5%, 68% 5%, 68% 36%, 62% 36%, 62% 1%, 12% 1%, 12% 34%, 60% 34%, 60% 57%, 98% 57%, 98% 83%, 1% 83%, 1% 53%, 91% 53%, 91% 84%, 8% 84%, 8% 83%, 4% 83%);
          clip-path: polygon(0% 12%, 53% 12%, 53% 26%, 25% 26%, 25% 86%, 31% 86%, 31% 0%, 53% 0%, 53% 84%, 92% 84%, 92% 82%, 70% 82%, 70% 29%, 78% 29%, 78% 65%, 69% 65%, 69% 66%, 77% 66%, 77% 45%, 85% 45%, 85% 26%, 97% 26%, 97% 28%, 84% 28%, 84% 34%, 54% 34%, 54% 89%, 30% 89%, 30% 58%, 83% 58%, 83% 5%, 68% 5%, 68% 36%, 62% 36%, 62% 1%, 12% 1%, 12% 34%, 60% 34%, 60% 57%, 98% 57%, 98% 83%, 1% 83%, 1% 53%, 91% 53%, 91% 84%, 8% 84%, 8% 83%, 4% 83%);
}

.paths {
  -webkit-animation: paths 5s step-end infinite;
          animation: paths 5s step-end infinite;
}

@-webkit-keyframes paths {
  0% {
    -webkit-clip-path: polygon(0% 43%, 83% 43%, 83% 22%, 23% 22%, 23% 24%, 91% 24%, 91% 26%, 18% 26%, 18% 83%, 29% 83%, 29% 17%, 41% 17%, 41% 39%, 18% 39%, 18% 82%, 54% 82%, 54% 88%, 19% 88%, 19% 4%, 39% 4%, 39% 14%, 76% 14%, 76% 52%, 23% 52%, 23% 35%, 19% 35%, 19% 8%, 36% 8%, 36% 31%, 73% 31%, 73% 16%, 1% 16%, 1% 56%, 50% 56%, 50% 8%);
            clip-path: polygon(0% 43%, 83% 43%, 83% 22%, 23% 22%, 23% 24%, 91% 24%, 91% 26%, 18% 26%, 18% 83%, 29% 83%, 29% 17%, 41% 17%, 41% 39%, 18% 39%, 18% 82%, 54% 82%, 54% 88%, 19% 88%, 19% 4%, 39% 4%, 39% 14%, 76% 14%, 76% 52%, 23% 52%, 23% 35%, 19% 35%, 19% 8%, 36% 8%, 36% 31%, 73% 31%, 73% 16%, 1% 16%, 1% 56%, 50% 56%, 50% 8%);
  }
  5% {
    -webkit-clip-path: polygon(0% 29%, 44% 29%, 44% 83%, 94% 83%, 94% 56%, 11% 56%, 11% 64%, 94% 64%, 94% 70%, 88% 70%, 88% 32%, 18% 32%, 18% 96%, 10% 96%, 10% 62%, 9% 62%, 9% 84%, 68% 84%, 68% 50%, 52% 50%, 52% 55%, 35% 55%, 35% 87%, 25% 87%, 25% 39%, 15% 39%, 15% 88%, 52% 88%);
            clip-path: polygon(0% 29%, 44% 29%, 44% 83%, 94% 83%, 94% 56%, 11% 56%, 11% 64%, 94% 64%, 94% 70%, 88% 70%, 88% 32%, 18% 32%, 18% 96%, 10% 96%, 10% 62%, 9% 62%, 9% 84%, 68% 84%, 68% 50%, 52% 50%, 52% 55%, 35% 55%, 35% 87%, 25% 87%, 25% 39%, 15% 39%, 15% 88%, 52% 88%);
  }
  30% {
    -webkit-clip-path: polygon(0% 53%, 93% 53%, 93% 62%, 68% 62%, 68% 37%, 97% 37%, 97% 89%, 13% 89%, 13% 45%, 51% 45%, 51% 88%, 17% 88%, 17% 54%, 81% 54%, 81% 75%, 79% 75%, 79% 76%, 38% 76%, 38% 28%, 61% 28%, 61% 12%, 55% 12%, 55% 62%, 68% 62%, 68% 51%, 0% 51%, 0% 92%, 63% 92%, 63% 4%, 65% 4%);
            clip-path: polygon(0% 53%, 93% 53%, 93% 62%, 68% 62%, 68% 37%, 97% 37%, 97% 89%, 13% 89%, 13% 45%, 51% 45%, 51% 88%, 17% 88%, 17% 54%, 81% 54%, 81% 75%, 79% 75%, 79% 76%, 38% 76%, 38% 28%, 61% 28%, 61% 12%, 55% 12%, 55% 62%, 68% 62%, 68% 51%, 0% 51%, 0% 92%, 63% 92%, 63% 4%, 65% 4%);
  }
  45% {
    -webkit-clip-path: polygon(0% 33%, 2% 33%, 2% 69%, 58% 69%, 58% 94%, 55% 94%, 55% 25%, 33% 25%, 33% 85%, 16% 85%, 16% 19%, 5% 19%, 5% 20%, 79% 20%, 79% 96%, 93% 96%, 93% 50%, 5% 50%, 5% 74%, 55% 74%, 55% 57%, 96% 57%, 96% 59%, 87% 59%, 87% 65%, 82% 65%, 82% 39%, 63% 39%, 63% 92%, 4% 92%, 4% 36%, 24% 36%, 24% 70%, 1% 70%, 1% 43%, 15% 43%, 15% 28%, 23% 28%, 23% 71%, 90% 71%, 90% 86%, 97% 86%, 97% 1%, 60% 1%, 60% 67%, 71% 67%, 71% 91%, 17% 91%, 17% 14%, 39% 14%, 39% 30%, 58% 30%, 58% 11%, 52% 11%, 52% 83%, 68% 83%);
            clip-path: polygon(0% 33%, 2% 33%, 2% 69%, 58% 69%, 58% 94%, 55% 94%, 55% 25%, 33% 25%, 33% 85%, 16% 85%, 16% 19%, 5% 19%, 5% 20%, 79% 20%, 79% 96%, 93% 96%, 93% 50%, 5% 50%, 5% 74%, 55% 74%, 55% 57%, 96% 57%, 96% 59%, 87% 59%, 87% 65%, 82% 65%, 82% 39%, 63% 39%, 63% 92%, 4% 92%, 4% 36%, 24% 36%, 24% 70%, 1% 70%, 1% 43%, 15% 43%, 15% 28%, 23% 28%, 23% 71%, 90% 71%, 90% 86%, 97% 86%, 97% 1%, 60% 1%, 60% 67%, 71% 67%, 71% 91%, 17% 91%, 17% 14%, 39% 14%, 39% 30%, 58% 30%, 58% 11%, 52% 11%, 52% 83%, 68% 83%);
  }
  76% {
    -webkit-clip-path: polygon(0% 26%, 15% 26%, 15% 73%, 72% 73%, 72% 70%, 77% 70%, 77% 75%, 8% 75%, 8% 42%, 4% 42%, 4% 61%, 17% 61%, 17% 12%, 26% 12%, 26% 63%, 73% 63%, 73% 43%, 90% 43%, 90% 67%, 50% 67%, 50% 41%, 42% 41%, 42% 46%, 50% 46%, 50% 84%, 96% 84%, 96% 78%, 49% 78%, 49% 25%, 63% 25%, 63% 14%);
            clip-path: polygon(0% 26%, 15% 26%, 15% 73%, 72% 73%, 72% 70%, 77% 70%, 77% 75%, 8% 75%, 8% 42%, 4% 42%, 4% 61%, 17% 61%, 17% 12%, 26% 12%, 26% 63%, 73% 63%, 73% 43%, 90% 43%, 90% 67%, 50% 67%, 50% 41%, 42% 41%, 42% 46%, 50% 46%, 50% 84%, 96% 84%, 96% 78%, 49% 78%, 49% 25%, 63% 25%, 63% 14%);
  }
  90% {
    -webkit-clip-path: polygon(0% 41%, 13% 41%, 13% 6%, 87% 6%, 87% 93%, 10% 93%, 10% 13%, 89% 13%, 89% 6%, 3% 6%, 3% 8%, 16% 8%, 16% 79%, 0% 79%, 0% 99%, 92% 99%, 92% 90%, 5% 90%, 5% 60%, 0% 60%, 0% 48%, 89% 48%, 89% 13%, 80% 13%, 80% 43%, 95% 43%, 95% 19%, 80% 19%, 80% 85%, 38% 85%, 38% 62%);
            clip-path: polygon(0% 41%, 13% 41%, 13% 6%, 87% 6%, 87% 93%, 10% 93%, 10% 13%, 89% 13%, 89% 6%, 3% 6%, 3% 8%, 16% 8%, 16% 79%, 0% 79%, 0% 99%, 92% 99%, 92% 90%, 5% 90%, 5% 60%, 0% 60%, 0% 48%, 89% 48%, 89% 13%, 80% 13%, 80% 43%, 95% 43%, 95% 19%, 80% 19%, 80% 85%, 38% 85%, 38% 62%);
  }
  1%, 7%, 33%, 47%, 78%, 93% {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

@keyframes paths {
  0% {
    -webkit-clip-path: polygon(0% 43%, 83% 43%, 83% 22%, 23% 22%, 23% 24%, 91% 24%, 91% 26%, 18% 26%, 18% 83%, 29% 83%, 29% 17%, 41% 17%, 41% 39%, 18% 39%, 18% 82%, 54% 82%, 54% 88%, 19% 88%, 19% 4%, 39% 4%, 39% 14%, 76% 14%, 76% 52%, 23% 52%, 23% 35%, 19% 35%, 19% 8%, 36% 8%, 36% 31%, 73% 31%, 73% 16%, 1% 16%, 1% 56%, 50% 56%, 50% 8%);
            clip-path: polygon(0% 43%, 83% 43%, 83% 22%, 23% 22%, 23% 24%, 91% 24%, 91% 26%, 18% 26%, 18% 83%, 29% 83%, 29% 17%, 41% 17%, 41% 39%, 18% 39%, 18% 82%, 54% 82%, 54% 88%, 19% 88%, 19% 4%, 39% 4%, 39% 14%, 76% 14%, 76% 52%, 23% 52%, 23% 35%, 19% 35%, 19% 8%, 36% 8%, 36% 31%, 73% 31%, 73% 16%, 1% 16%, 1% 56%, 50% 56%, 50% 8%);
  }
  5% {
    -webkit-clip-path: polygon(0% 29%, 44% 29%, 44% 83%, 94% 83%, 94% 56%, 11% 56%, 11% 64%, 94% 64%, 94% 70%, 88% 70%, 88% 32%, 18% 32%, 18% 96%, 10% 96%, 10% 62%, 9% 62%, 9% 84%, 68% 84%, 68% 50%, 52% 50%, 52% 55%, 35% 55%, 35% 87%, 25% 87%, 25% 39%, 15% 39%, 15% 88%, 52% 88%);
            clip-path: polygon(0% 29%, 44% 29%, 44% 83%, 94% 83%, 94% 56%, 11% 56%, 11% 64%, 94% 64%, 94% 70%, 88% 70%, 88% 32%, 18% 32%, 18% 96%, 10% 96%, 10% 62%, 9% 62%, 9% 84%, 68% 84%, 68% 50%, 52% 50%, 52% 55%, 35% 55%, 35% 87%, 25% 87%, 25% 39%, 15% 39%, 15% 88%, 52% 88%);
  }
  30% {
    -webkit-clip-path: polygon(0% 53%, 93% 53%, 93% 62%, 68% 62%, 68% 37%, 97% 37%, 97% 89%, 13% 89%, 13% 45%, 51% 45%, 51% 88%, 17% 88%, 17% 54%, 81% 54%, 81% 75%, 79% 75%, 79% 76%, 38% 76%, 38% 28%, 61% 28%, 61% 12%, 55% 12%, 55% 62%, 68% 62%, 68% 51%, 0% 51%, 0% 92%, 63% 92%, 63% 4%, 65% 4%);
            clip-path: polygon(0% 53%, 93% 53%, 93% 62%, 68% 62%, 68% 37%, 97% 37%, 97% 89%, 13% 89%, 13% 45%, 51% 45%, 51% 88%, 17% 88%, 17% 54%, 81% 54%, 81% 75%, 79% 75%, 79% 76%, 38% 76%, 38% 28%, 61% 28%, 61% 12%, 55% 12%, 55% 62%, 68% 62%, 68% 51%, 0% 51%, 0% 92%, 63% 92%, 63% 4%, 65% 4%);
  }
  45% {
    -webkit-clip-path: polygon(0% 33%, 2% 33%, 2% 69%, 58% 69%, 58% 94%, 55% 94%, 55% 25%, 33% 25%, 33% 85%, 16% 85%, 16% 19%, 5% 19%, 5% 20%, 79% 20%, 79% 96%, 93% 96%, 93% 50%, 5% 50%, 5% 74%, 55% 74%, 55% 57%, 96% 57%, 96% 59%, 87% 59%, 87% 65%, 82% 65%, 82% 39%, 63% 39%, 63% 92%, 4% 92%, 4% 36%, 24% 36%, 24% 70%, 1% 70%, 1% 43%, 15% 43%, 15% 28%, 23% 28%, 23% 71%, 90% 71%, 90% 86%, 97% 86%, 97% 1%, 60% 1%, 60% 67%, 71% 67%, 71% 91%, 17% 91%, 17% 14%, 39% 14%, 39% 30%, 58% 30%, 58% 11%, 52% 11%, 52% 83%, 68% 83%);
            clip-path: polygon(0% 33%, 2% 33%, 2% 69%, 58% 69%, 58% 94%, 55% 94%, 55% 25%, 33% 25%, 33% 85%, 16% 85%, 16% 19%, 5% 19%, 5% 20%, 79% 20%, 79% 96%, 93% 96%, 93% 50%, 5% 50%, 5% 74%, 55% 74%, 55% 57%, 96% 57%, 96% 59%, 87% 59%, 87% 65%, 82% 65%, 82% 39%, 63% 39%, 63% 92%, 4% 92%, 4% 36%, 24% 36%, 24% 70%, 1% 70%, 1% 43%, 15% 43%, 15% 28%, 23% 28%, 23% 71%, 90% 71%, 90% 86%, 97% 86%, 97% 1%, 60% 1%, 60% 67%, 71% 67%, 71% 91%, 17% 91%, 17% 14%, 39% 14%, 39% 30%, 58% 30%, 58% 11%, 52% 11%, 52% 83%, 68% 83%);
  }
  76% {
    -webkit-clip-path: polygon(0% 26%, 15% 26%, 15% 73%, 72% 73%, 72% 70%, 77% 70%, 77% 75%, 8% 75%, 8% 42%, 4% 42%, 4% 61%, 17% 61%, 17% 12%, 26% 12%, 26% 63%, 73% 63%, 73% 43%, 90% 43%, 90% 67%, 50% 67%, 50% 41%, 42% 41%, 42% 46%, 50% 46%, 50% 84%, 96% 84%, 96% 78%, 49% 78%, 49% 25%, 63% 25%, 63% 14%);
            clip-path: polygon(0% 26%, 15% 26%, 15% 73%, 72% 73%, 72% 70%, 77% 70%, 77% 75%, 8% 75%, 8% 42%, 4% 42%, 4% 61%, 17% 61%, 17% 12%, 26% 12%, 26% 63%, 73% 63%, 73% 43%, 90% 43%, 90% 67%, 50% 67%, 50% 41%, 42% 41%, 42% 46%, 50% 46%, 50% 84%, 96% 84%, 96% 78%, 49% 78%, 49% 25%, 63% 25%, 63% 14%);
  }
  90% {
    -webkit-clip-path: polygon(0% 41%, 13% 41%, 13% 6%, 87% 6%, 87% 93%, 10% 93%, 10% 13%, 89% 13%, 89% 6%, 3% 6%, 3% 8%, 16% 8%, 16% 79%, 0% 79%, 0% 99%, 92% 99%, 92% 90%, 5% 90%, 5% 60%, 0% 60%, 0% 48%, 89% 48%, 89% 13%, 80% 13%, 80% 43%, 95% 43%, 95% 19%, 80% 19%, 80% 85%, 38% 85%, 38% 62%);
            clip-path: polygon(0% 41%, 13% 41%, 13% 6%, 87% 6%, 87% 93%, 10% 93%, 10% 13%, 89% 13%, 89% 6%, 3% 6%, 3% 8%, 16% 8%, 16% 79%, 0% 79%, 0% 99%, 92% 99%, 92% 90%, 5% 90%, 5% 60%, 0% 60%, 0% 48%, 89% 48%, 89% 13%, 80% 13%, 80% 43%, 95% 43%, 95% 19%, 80% 19%, 80% 85%, 38% 85%, 38% 62%);
  }
  1%, 7%, 33%, 47%, 78%, 93% {
    -webkit-clip-path: none;
            clip-path: none;
  }
}
.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  -webkit-animation: movement 8s step-end infinite;
          animation: movement 8s step-end infinite;
}

@-webkit-keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }
  15% {
    top: 10px;
    left: 10px;
  }
  60% {
    top: 5px;
    left: -10px;
  }
  75% {
    top: -5px;
    left: 20px;
  }
  100% {
    top: 10px;
    left: 5px;
  }
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }
  15% {
    top: 10px;
    left: 10px;
  }
  60% {
    top: 5px;
    left: -10px;
  }
  75% {
    top: -5px;
    left: 20px;
  }
  100% {
    top: 10px;
    left: 5px;
  }
}
.opacity {
  -webkit-animation: opacity 5s step-end infinite;
          animation: opacity 5s step-end infinite;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0.1;
  }
  5% {
    opacity: 0.7;
  }
  30% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.6;
  }
  76% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.8;
  }
  1%, 7%, 33%, 47%, 78%, 93% {
    opacity: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }
  5% {
    opacity: 0.7;
  }
  30% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.6;
  }
  76% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.8;
  }
  1%, 7%, 33%, 47%, 78%, 93% {
    opacity: 0;
  }
}
.font {
  -webkit-animation: font 7s step-end infinite;
          animation: font 7s step-end infinite;
}

@-webkit-keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }
  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }
  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }
  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }
  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }
  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }
  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }
  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }
  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}
.glitch::before, .links-redes .works:hover::before, .header .nav-links a:hover::before {
  -webkit-animation: paths 5s step-end infinite, opacity 5s step-end infinite, font 8s step-end infinite, movement 10s step-end infinite;
          animation: paths 5s step-end infinite, opacity 5s step-end infinite, font 8s step-end infinite, movement 10s step-end infinite;
}
.glitch::after, .links-redes .works:hover::after, .header .nav-links a:hover::after {
  -webkit-animation: paths 5s step-end infinite, opacity 5s step-end infinite, font 7s step-end infinite, movement 8s step-end infinite;
          animation: paths 5s step-end infinite, opacity 5s step-end infinite, font 7s step-end infinite, movement 8s step-end infinite;
}
.glitch span, .links-redes .works:hover span, .header .nav-links a:hover span, .glitch a, .links-redes .works:hover a, .header .nav-links a:hover a {
  -webkit-animation: paths 5s step-end infinite;
          animation: paths 5s step-end infinite;
}

.glitch-img {
  width: 50%;
  background: #000 no-repeat bottom;
  background-size: 0;
  position: relative;
}
.glitch-img::before, .glitch-img::after,
.glitch-img .channel {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url(../../public/images/avatar.png) !important;
  background: inherit;
  background-size: initial;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.glitch-img::before {
  -webkit-animation: glitch-before 1s linear infinite alternate both;
          animation: glitch-before 1s linear infinite alternate both;
  content: "";
}
@-webkit-keyframes glitch-before {
  0% {
    -webkit-clip-path: polygon(0% 0.2471182416%, 100% 0.2471182416%, 100% 6.8777418623%, 0% 6.8777418623%);
            clip-path: polygon(0% 0.2471182416%, 100% 0.2471182416%, 100% 6.8777418623%, 0% 6.8777418623%);
    transform: translate(3.4593793732%, 0.2890708286%);
  }
  3% {
    -webkit-clip-path: polygon(0% 10.825796724%, 100% 10.825796724%, 100% 16.0587277503%, 0% 16.0587277503%);
            clip-path: polygon(0% 10.825796724%, 100% 10.825796724%, 100% 16.0587277503%, 0% 16.0587277503%);
    transform: translate(-4.5372937784%, -0.1238662976%);
  }
  6% {
    -webkit-clip-path: polygon(0% 40.3356937426%, 100% 40.3356937426%, 100% 50.0718029095%, 0% 50.0718029095%);
            clip-path: polygon(0% 40.3356937426%, 100% 40.3356937426%, 100% 50.0718029095%, 0% 50.0718029095%);
    transform: translate(-7.5179642629%, -0.3727436218%);
  }
  9% {
    -webkit-clip-path: polygon(0% 17.2835120859%, 100% 17.2835120859%, 100% 23.058635478%, 0% 23.058635478%);
            clip-path: polygon(0% 17.2835120859%, 100% 17.2835120859%, 100% 23.058635478%, 0% 23.058635478%);
    transform: translate(1.4407732633%, 0.00670261%);
  }
  12% {
    -webkit-clip-path: polygon(0% 61.5136927103%, 100% 61.5136927103%, 100% 69.4285047145%, 0% 69.4285047145%);
            clip-path: polygon(0% 61.5136927103%, 100% 61.5136927103%, 100% 69.4285047145%, 0% 69.4285047145%);
    transform: translate(3.6668793029%, 0.4191230039%);
  }
  15% {
    -webkit-clip-path: polygon(0% 12.4182033924%, 100% 12.4182033924%, 100% 19.9800876805%, 0% 19.9800876805%);
            clip-path: polygon(0% 12.4182033924%, 100% 12.4182033924%, 100% 19.9800876805%, 0% 19.9800876805%);
    transform: translate(-3.8647291968%, 0.2895028827%);
  }
  18% {
    -webkit-clip-path: polygon(0% 76.3586316684%, 100% 76.3586316684%, 100% 86.2620634871%, 0% 86.2620634871%);
            clip-path: polygon(0% 76.3586316684%, 100% 76.3586316684%, 100% 86.2620634871%, 0% 86.2620634871%);
    transform: translate(0.2494824496%, -0.0752382195%);
  }
  21% {
    -webkit-clip-path: polygon(0% 41.5973346013%, 100% 41.5973346013%, 100% 48.3573878201%, 0% 48.3573878201%);
            clip-path: polygon(0% 41.5973346013%, 100% 41.5973346013%, 100% 48.3573878201%, 0% 48.3573878201%);
    transform: translate(-1.8858724509%, -0.2497603288%);
  }
  24% {
    -webkit-clip-path: polygon(0% 45.6272466514%, 100% 45.6272466514%, 100% 50.0727304263%, 0% 50.0727304263%);
            clip-path: polygon(0% 45.6272466514%, 100% 45.6272466514%, 100% 50.0727304263%, 0% 50.0727304263%);
    transform: translate(1.5316323883%, -0.4279192793%);
  }
  27% {
    -webkit-clip-path: polygon(0% 79.2413637431%, 100% 79.2413637431%, 100% 81.0269268617%, 0% 81.0269268617%);
            clip-path: polygon(0% 79.2413637431%, 100% 79.2413637431%, 100% 81.0269268617%, 0% 81.0269268617%);
    transform: translate(-5.3147699997%, 0.1592280364%);
  }
  30%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
@keyframes glitch-before {
  0% {
    -webkit-clip-path: polygon(0% 0.2471182416%, 100% 0.2471182416%, 100% 6.8777418623%, 0% 6.8777418623%);
            clip-path: polygon(0% 0.2471182416%, 100% 0.2471182416%, 100% 6.8777418623%, 0% 6.8777418623%);
    transform: translate(3.4593793732%, 0.2890708286%);
  }
  3% {
    -webkit-clip-path: polygon(0% 10.825796724%, 100% 10.825796724%, 100% 16.0587277503%, 0% 16.0587277503%);
            clip-path: polygon(0% 10.825796724%, 100% 10.825796724%, 100% 16.0587277503%, 0% 16.0587277503%);
    transform: translate(-4.5372937784%, -0.1238662976%);
  }
  6% {
    -webkit-clip-path: polygon(0% 40.3356937426%, 100% 40.3356937426%, 100% 50.0718029095%, 0% 50.0718029095%);
            clip-path: polygon(0% 40.3356937426%, 100% 40.3356937426%, 100% 50.0718029095%, 0% 50.0718029095%);
    transform: translate(-7.5179642629%, -0.3727436218%);
  }
  9% {
    -webkit-clip-path: polygon(0% 17.2835120859%, 100% 17.2835120859%, 100% 23.058635478%, 0% 23.058635478%);
            clip-path: polygon(0% 17.2835120859%, 100% 17.2835120859%, 100% 23.058635478%, 0% 23.058635478%);
    transform: translate(1.4407732633%, 0.00670261%);
  }
  12% {
    -webkit-clip-path: polygon(0% 61.5136927103%, 100% 61.5136927103%, 100% 69.4285047145%, 0% 69.4285047145%);
            clip-path: polygon(0% 61.5136927103%, 100% 61.5136927103%, 100% 69.4285047145%, 0% 69.4285047145%);
    transform: translate(3.6668793029%, 0.4191230039%);
  }
  15% {
    -webkit-clip-path: polygon(0% 12.4182033924%, 100% 12.4182033924%, 100% 19.9800876805%, 0% 19.9800876805%);
            clip-path: polygon(0% 12.4182033924%, 100% 12.4182033924%, 100% 19.9800876805%, 0% 19.9800876805%);
    transform: translate(-3.8647291968%, 0.2895028827%);
  }
  18% {
    -webkit-clip-path: polygon(0% 76.3586316684%, 100% 76.3586316684%, 100% 86.2620634871%, 0% 86.2620634871%);
            clip-path: polygon(0% 76.3586316684%, 100% 76.3586316684%, 100% 86.2620634871%, 0% 86.2620634871%);
    transform: translate(0.2494824496%, -0.0752382195%);
  }
  21% {
    -webkit-clip-path: polygon(0% 41.5973346013%, 100% 41.5973346013%, 100% 48.3573878201%, 0% 48.3573878201%);
            clip-path: polygon(0% 41.5973346013%, 100% 41.5973346013%, 100% 48.3573878201%, 0% 48.3573878201%);
    transform: translate(-1.8858724509%, -0.2497603288%);
  }
  24% {
    -webkit-clip-path: polygon(0% 45.6272466514%, 100% 45.6272466514%, 100% 50.0727304263%, 0% 50.0727304263%);
            clip-path: polygon(0% 45.6272466514%, 100% 45.6272466514%, 100% 50.0727304263%, 0% 50.0727304263%);
    transform: translate(1.5316323883%, -0.4279192793%);
  }
  27% {
    -webkit-clip-path: polygon(0% 79.2413637431%, 100% 79.2413637431%, 100% 81.0269268617%, 0% 81.0269268617%);
            clip-path: polygon(0% 79.2413637431%, 100% 79.2413637431%, 100% 81.0269268617%, 0% 81.0269268617%);
    transform: translate(-5.3147699997%, 0.1592280364%);
  }
  30%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.glitch-img::after {
  -webkit-animation: glitch-after 1s linear infinite alternate both;
          animation: glitch-after 1s linear infinite alternate both;
  content: "";
}
@-webkit-keyframes glitch-after {
  0% {
    -webkit-clip-path: polygon(0% 78.1508326683%, 100% 78.1508326683%, 100% 81.5464661793%, 0% 81.5464661793%);
            clip-path: polygon(0% 78.1508326683%, 100% 78.1508326683%, 100% 81.5464661793%, 0% 81.5464661793%);
    transform: translate(5.3320897668%, 0.1137131949%);
  }
  3% {
    -webkit-clip-path: polygon(0% 24.7136491457%, 100% 24.7136491457%, 100% 28.386104137%, 0% 28.386104137%);
            clip-path: polygon(0% 24.7136491457%, 100% 24.7136491457%, 100% 28.386104137%, 0% 28.386104137%);
    transform: translate(3.2942747994%, -0.3078307167%);
  }
  6% {
    -webkit-clip-path: polygon(0% 72.1918732666%, 100% 72.1918732666%, 100% 74.5917941743%, 0% 74.5917941743%);
            clip-path: polygon(0% 72.1918732666%, 100% 72.1918732666%, 100% 74.5917941743%, 0% 74.5917941743%);
    transform: translate(-4.7674067528%, -0.3180284225%);
  }
  9% {
    -webkit-clip-path: polygon(0% 14.316078286%, 100% 14.316078286%, 100% 16.0190714127%, 0% 16.0190714127%);
            clip-path: polygon(0% 14.316078286%, 100% 14.316078286%, 100% 16.0190714127%, 0% 16.0190714127%);
    transform: translate(1.1881993433%, -0.317753353%);
  }
  12% {
    -webkit-clip-path: polygon(0% 35.8851012283%, 100% 35.8851012283%, 100% 38.6137285852%, 0% 38.6137285852%);
            clip-path: polygon(0% 35.8851012283%, 100% 35.8851012283%, 100% 38.6137285852%, 0% 38.6137285852%);
    transform: translate(1.2010321919%, 0.4065271961%);
  }
  15% {
    -webkit-clip-path: polygon(0% 74.4120811528%, 100% 74.4120811528%, 100% 81.2314432643%, 0% 81.2314432643%);
            clip-path: polygon(0% 74.4120811528%, 100% 74.4120811528%, 100% 81.2314432643%, 0% 81.2314432643%);
    transform: translate(-6.8483402411%, -0.0511590517%);
  }
  18% {
    -webkit-clip-path: polygon(0% 31.1153113488%, 100% 31.1153113488%, 100% 36.0687880361%, 0% 36.0687880361%);
            clip-path: polygon(0% 31.1153113488%, 100% 31.1153113488%, 100% 36.0687880361%, 0% 36.0687880361%);
    transform: translate(4.2853048771%, 0.3988519101%);
  }
  21% {
    -webkit-clip-path: polygon(0% 88.6272011101%, 100% 88.6272011101%, 100% 93.2061664752%, 0% 93.2061664752%);
            clip-path: polygon(0% 88.6272011101%, 100% 88.6272011101%, 100% 93.2061664752%, 0% 93.2061664752%);
    transform: translate(-0.5306130771%, 0.3512162918%);
  }
  24% {
    -webkit-clip-path: polygon(0% 3.4344791117%, 100% 3.4344791117%, 100% 8.6033686177%, 0% 8.6033686177%);
            clip-path: polygon(0% 3.4344791117%, 100% 3.4344791117%, 100% 8.6033686177%, 0% 8.6033686177%);
    transform: translate(-3.891843327%, 0.0337774453%);
  }
  27% {
    -webkit-clip-path: polygon(0% 76.3610965828%, 100% 76.3610965828%, 100% 85.1989142566%, 0% 85.1989142566%);
            clip-path: polygon(0% 76.3610965828%, 100% 76.3610965828%, 100% 85.1989142566%, 0% 85.1989142566%);
    transform: translate(-1.3741713928%, 0.2033600812%);
  }
  30%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
@keyframes glitch-after {
  0% {
    -webkit-clip-path: polygon(0% 78.1508326683%, 100% 78.1508326683%, 100% 81.5464661793%, 0% 81.5464661793%);
            clip-path: polygon(0% 78.1508326683%, 100% 78.1508326683%, 100% 81.5464661793%, 0% 81.5464661793%);
    transform: translate(5.3320897668%, 0.1137131949%);
  }
  3% {
    -webkit-clip-path: polygon(0% 24.7136491457%, 100% 24.7136491457%, 100% 28.386104137%, 0% 28.386104137%);
            clip-path: polygon(0% 24.7136491457%, 100% 24.7136491457%, 100% 28.386104137%, 0% 28.386104137%);
    transform: translate(3.2942747994%, -0.3078307167%);
  }
  6% {
    -webkit-clip-path: polygon(0% 72.1918732666%, 100% 72.1918732666%, 100% 74.5917941743%, 0% 74.5917941743%);
            clip-path: polygon(0% 72.1918732666%, 100% 72.1918732666%, 100% 74.5917941743%, 0% 74.5917941743%);
    transform: translate(-4.7674067528%, -0.3180284225%);
  }
  9% {
    -webkit-clip-path: polygon(0% 14.316078286%, 100% 14.316078286%, 100% 16.0190714127%, 0% 16.0190714127%);
            clip-path: polygon(0% 14.316078286%, 100% 14.316078286%, 100% 16.0190714127%, 0% 16.0190714127%);
    transform: translate(1.1881993433%, -0.317753353%);
  }
  12% {
    -webkit-clip-path: polygon(0% 35.8851012283%, 100% 35.8851012283%, 100% 38.6137285852%, 0% 38.6137285852%);
            clip-path: polygon(0% 35.8851012283%, 100% 35.8851012283%, 100% 38.6137285852%, 0% 38.6137285852%);
    transform: translate(1.2010321919%, 0.4065271961%);
  }
  15% {
    -webkit-clip-path: polygon(0% 74.4120811528%, 100% 74.4120811528%, 100% 81.2314432643%, 0% 81.2314432643%);
            clip-path: polygon(0% 74.4120811528%, 100% 74.4120811528%, 100% 81.2314432643%, 0% 81.2314432643%);
    transform: translate(-6.8483402411%, -0.0511590517%);
  }
  18% {
    -webkit-clip-path: polygon(0% 31.1153113488%, 100% 31.1153113488%, 100% 36.0687880361%, 0% 36.0687880361%);
            clip-path: polygon(0% 31.1153113488%, 100% 31.1153113488%, 100% 36.0687880361%, 0% 36.0687880361%);
    transform: translate(4.2853048771%, 0.3988519101%);
  }
  21% {
    -webkit-clip-path: polygon(0% 88.6272011101%, 100% 88.6272011101%, 100% 93.2061664752%, 0% 93.2061664752%);
            clip-path: polygon(0% 88.6272011101%, 100% 88.6272011101%, 100% 93.2061664752%, 0% 93.2061664752%);
    transform: translate(-0.5306130771%, 0.3512162918%);
  }
  24% {
    -webkit-clip-path: polygon(0% 3.4344791117%, 100% 3.4344791117%, 100% 8.6033686177%, 0% 8.6033686177%);
            clip-path: polygon(0% 3.4344791117%, 100% 3.4344791117%, 100% 8.6033686177%, 0% 8.6033686177%);
    transform: translate(-3.891843327%, 0.0337774453%);
  }
  27% {
    -webkit-clip-path: polygon(0% 76.3610965828%, 100% 76.3610965828%, 100% 85.1989142566%, 0% 85.1989142566%);
            clip-path: polygon(0% 76.3610965828%, 100% 76.3610965828%, 100% 85.1989142566%, 0% 85.1989142566%);
    transform: translate(-1.3741713928%, 0.2033600812%);
  }
  30%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.glitch-img .channel {
  mix-blend-mode: screen;
}
.glitch-img .channel::before {
  bottom: 0;
  content: "";
  display: block;
  mix-blend-mode: multiply;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.glitch-img .r {
  -webkit-animation: rgb-shift-r 1s steps(1, jump-end) infinite alternate both;
          animation: rgb-shift-r 1s steps(1, jump-end) infinite alternate both;
}
@-webkit-keyframes rgb-shift-r {
  0% {
    transform: translate(-0.7168827369%, 0.0452471538%);
  }
  3% {
    transform: translate(1.6989580191%, 0.1773318994%);
  }
  6% {
    transform: translate(1.7598989932%, -0.3377038891%);
  }
  9% {
    transform: translate(-1.1419701878%, -0.4599312445%);
  }
  12% {
    transform: translate(0.2735408194%, -0.0376886215%);
  }
  15% {
    transform: translate(-1.3233352665%, -0.2724902149%);
  }
  18% {
    transform: translate(1.6152896696%, 0.3951590324%);
  }
  21% {
    transform: translate(1.213729292%, 0.0719048655%);
  }
  24% {
    transform: translate(-1.8450392071%, -0.0264232295%);
  }
  27% {
    transform: translate(-0.3710608024%, -0.1006173532%);
  }
  30%, 100% {
    transform: none;
  }
}
@keyframes rgb-shift-r {
  0% {
    transform: translate(-0.7168827369%, 0.0452471538%);
  }
  3% {
    transform: translate(1.6989580191%, 0.1773318994%);
  }
  6% {
    transform: translate(1.7598989932%, -0.3377038891%);
  }
  9% {
    transform: translate(-1.1419701878%, -0.4599312445%);
  }
  12% {
    transform: translate(0.2735408194%, -0.0376886215%);
  }
  15% {
    transform: translate(-1.3233352665%, -0.2724902149%);
  }
  18% {
    transform: translate(1.6152896696%, 0.3951590324%);
  }
  21% {
    transform: translate(1.213729292%, 0.0719048655%);
  }
  24% {
    transform: translate(-1.8450392071%, -0.0264232295%);
  }
  27% {
    transform: translate(-0.3710608024%, -0.1006173532%);
  }
  30%, 100% {
    transform: none;
  }
}
.glitch-img .r::before {
  background: #f00;
}
.glitch-img .g {
  -webkit-animation: rgb-shift-g 1s steps(1, jump-end) infinite alternate both;
          animation: rgb-shift-g 1s steps(1, jump-end) infinite alternate both;
}
@-webkit-keyframes rgb-shift-g {
  0% {
    transform: translate(-0.6420387067%, -0.4382903329%);
  }
  3% {
    transform: translate(0.0271891814%, -0.4917752089%);
  }
  6% {
    transform: translate(-0.6683984574%, -0.2665472716%);
  }
  9% {
    transform: translate(1.6590535731%, -0.1230351099%);
  }
  12% {
    transform: translate(-0.8437458264%, 0.1682222493%);
  }
  15% {
    transform: translate(-1.215712154%, -0.0898280218%);
  }
  18% {
    transform: translate(-0.277125259%, -0.0705943803%);
  }
  21% {
    transform: translate(-1.8179278224%, -0.3298352595%);
  }
  24% {
    transform: translate(-0.2558144042%, -0.3397068469%);
  }
  27% {
    transform: translate(-0.7641815958%, 0.1584645279%);
  }
  30%, 100% {
    transform: none;
  }
}
@keyframes rgb-shift-g {
  0% {
    transform: translate(-0.6420387067%, -0.4382903329%);
  }
  3% {
    transform: translate(0.0271891814%, -0.4917752089%);
  }
  6% {
    transform: translate(-0.6683984574%, -0.2665472716%);
  }
  9% {
    transform: translate(1.6590535731%, -0.1230351099%);
  }
  12% {
    transform: translate(-0.8437458264%, 0.1682222493%);
  }
  15% {
    transform: translate(-1.215712154%, -0.0898280218%);
  }
  18% {
    transform: translate(-0.277125259%, -0.0705943803%);
  }
  21% {
    transform: translate(-1.8179278224%, -0.3298352595%);
  }
  24% {
    transform: translate(-0.2558144042%, -0.3397068469%);
  }
  27% {
    transform: translate(-0.7641815958%, 0.1584645279%);
  }
  30%, 100% {
    transform: none;
  }
}
.glitch-img .g::before {
  background: #0f0;
}
.glitch-img .b {
  -webkit-animation: rgb-shift-b 1s steps(1, jump-end) infinite alternate both;
          animation: rgb-shift-b 1s steps(1, jump-end) infinite alternate both;
}
@-webkit-keyframes rgb-shift-b {
  0% {
    transform: translate(-0.9669387469%, -0.3437316798%);
  }
  3% {
    transform: translate(-0.4726724408%, -0.16170238%);
  }
  6% {
    transform: translate(-0.4694736771%, -0.3721628078%);
  }
  9% {
    transform: translate(1.1051361709%, -0.3287085528%);
  }
  12% {
    transform: translate(-0.7311860391%, -0.416153975%);
  }
  15% {
    transform: translate(-1.5719359533%, -0.3142356716%);
  }
  18% {
    transform: translate(-1.6226162076%, 0.3039205048%);
  }
  21% {
    transform: translate(1.0859790154%, 0.3073184224%);
  }
  24% {
    transform: translate(-1.2670888197%, 0.1655785191%);
  }
  27% {
    transform: translate(1.8108432133%, 0.0650037272%);
  }
  30%, 100% {
    transform: none;
  }
}
@keyframes rgb-shift-b {
  0% {
    transform: translate(-0.9669387469%, -0.3437316798%);
  }
  3% {
    transform: translate(-0.4726724408%, -0.16170238%);
  }
  6% {
    transform: translate(-0.4694736771%, -0.3721628078%);
  }
  9% {
    transform: translate(1.1051361709%, -0.3287085528%);
  }
  12% {
    transform: translate(-0.7311860391%, -0.416153975%);
  }
  15% {
    transform: translate(-1.5719359533%, -0.3142356716%);
  }
  18% {
    transform: translate(-1.6226162076%, 0.3039205048%);
  }
  21% {
    transform: translate(1.0859790154%, 0.3073184224%);
  }
  24% {
    transform: translate(-1.2670888197%, 0.1655785191%);
  }
  27% {
    transform: translate(1.8108432133%, 0.0650037272%);
  }
  30%, 100% {
    transform: none;
  }
}
.glitch-img .b::before {
  background: #00f;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  z-index: 100;
}
.header .logo {
  color: white;
  letter-spacing: 5px;
  font-size: 20px;
}
.header .nav-links {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: 600;
  gap: 1rem;
}
.header .nav-links* {
  box-sizing: border-box;
  transition: all 0.35s ease;
}
.header .nav-links li {
  display: inline-block;
  list-style: outside none none;
}
.header .nav-links a {
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 10px;
  z-index: 9;
}
.header .nav-links a:hover {
  font-size: 1rem !important;
}
.header .nav-active {
  transform: translateX(0%);
}
.header #hamburguesa {
  display: none;
  cursor: pointer;
}
.header #hamburguesa div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
.header #hamburguesa .linea1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.header #hamburguesa .linea2 {
  opacity: 0;
}
.header #hamburguesa .linea3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.header .neon-link::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: rgb(42, 182, 199);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(0.8, 0.3);
  filter: blur(1em);
  opacity: 0.7;
}
.header .neon-link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em rgb(42, 182, 199);
  opacity: 0;
  background-color: rgb(42, 182, 199);
  z-index: -1;
  transition: opacity 100ms linear;
}

@media screen and (max-width: 768px) {
  .header {
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    position: fixed;
    padding: 1.5rem 1.5rem !important;
  }
}
@media screen and (max-width: 426px) {
  .header {
    padding: 1rem 1rem !important;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    top: 8vh;
    height: 92vh;
    width: 100% !important;
    background: rgba(4, 4, 4, 0.911);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    flex-direction: column;
    align-items: center;
    justify-content: space-around !important;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  #hamburguesa {
    display: block !important;
  }
}
@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.links-redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0px;
  left: 3rem;
  z-index: 99;
  gap: 1rem;
}
.links-redes .works {
  width: 20px;
  height: 20px;
  background-color: transparent !important;
  text-align: center;
  font-size: 20px !important;
}
.links-redes .works:hover {
  font-size: 20px !important;
}
.links-redes .works a {
  height: 20px;
  width: 20px;
  color: white !important;
  font-size: 20px !important;
  cursor: pointer;
}
.links-redes .linea {
  width: 2px;
  height: 8rem;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .links-redes {
    left: 1.5rem;
  }
}
@media screen and (max-width: 426px) {
  .links-redes {
    left: 1rem;
  }
}
.home {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
  flex-direction: column;
  background-image: url(../../public/images/fondo.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.home .container-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.home h1,
.home h2 {
  margin: 0;
}

p {
  font-size: 1rem !important;
  overflow: hidden;
  text-align: center;
  padding: 0 1rem;
  display: flex;
}

p span {
  margin-bottom: 1rem;
}

a {
  color: #ccc;
}

@media screen and (max-width: 768px) {
  .home {
    padding: 1.5rem 1.5rem;
  }
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  overflow: hidden;
}
.container .glitch-img {
  overflow: hidden;
  background-position: center !important;
}

.container-about {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.div-about {
  color: white;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.div-about p {
  border: 1px solid;
  width: 100%;
  height: 60%;
  font-size: calc(0.6rem + 1.2vw) !important;
  padding: 1.5rem;
  text-align: left;
}

.container-about h1 {
  color: rgba(255, 255, 255, 0.237);
  font-size: clamp(3rem, 8vw, 6rem);
  position: absolute;
  top: 12px;
  left: -74px;
}

@media screen and (max-width: 800px) {
  .container .glitch-img::before, .container .glitch-img::after,
.container .glitch-img .channel {
    background-size: 110% !important;
    background-position: center;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 1.5rem 1.5rem;
  }
  .div-about p {
    padding: 1rem;
  }
  .container-about h1 {
    top: 68px;
  }
}
@media screen and (max-width: 700px) {
  .container-about {
    width: 100% !important;
    padding: 1.5rem;
  }
  .container-about h1 {
    left: 0;
  }
  .container .glitch-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
  }
  .container .glitch-img::before, .container .glitch-img::after,
.container .glitch-img .channel {
    background-size: 70% !important;
    background-position: bottom;
  }
}
@media screen and (max-width: 426px) {
  .container-about {
    padding: 1rem;
  }
}
.div-carousel {
  height: 600px;
  width: 600px;
  position: relative;
}
.div-carousel .glitch-img {
  border-radius: 50% !important;
  background-color: black;
  z-index: 98;
}
.div-carousel .glitch-img::before, .div-carousel .glitch-img::after,
.div-carousel .glitch-img .channel {
  background-image: inherit !important;
  border: transparent;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid transparent;
}
.div-carousel .div-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.div-carousel .img0 {
  border-radius: 50%;
  width: 33.3%;
  height: 33.3%;
  z-index: 9;
}
.div-carousel .img1 {
  border-radius: 50%;
  width: 66.6%;
  height: 66.6%;
  z-index: 8;
}
.div-carousel .img2 {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 7;
}

#previus,
#next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 99999999;
  border: none;
  background: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer !important;
}

#previus {
  left: 0;
}

#next {
  right: 0;
}

.div-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  position: absolute;
  bottom: 100px;
  z-index: 99;
}
.div-buttons .neon-button {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: rgb(42, 182, 199);
  border: rgb(42, 182, 199) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 rgb(42, 182, 199), 0 0 0.5em 0 rgb(42, 182, 199);
  position: relative;
}
.div-buttons .neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: rgb(42, 182, 199);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.3;
}
.div-buttons .neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em rgb(42, 182, 199);
  opacity: 0;
  background-color: rgb(42, 182, 199);
  z-index: -1;
  transition: opacity 100ms linear;
}
.div-buttons .neon-button:hover {
  color: rgb(48, 32, 43);
  text-shadow: none;
}
.div-buttons .neon-button:hover::before {
  opacity: 0.8;
}
.div-buttons .neon-button:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  .div-carousel {
    bottom: -50px;
  }
  .div-buttons {
    bottom: 80px;
  }
}
@media screen and (max-width: 690px) {
  .div-carousel {
    width: 500px !important;
    height: 500px !important;
  }
  .div-buttons {
    bottom: 80px;
  }
  .div-buttons .neon-button {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 590px) {
  .div-carousel {
    width: 300px !important;
    height: 300px !important;
    bottom: 0;
  }
  #previus,
#next {
    font-size: 1.5rem;
  }
  .div-buttons {
    bottom: 40px;
    gap: 5rem;
  }
}
.container-portafolio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container-portafolio .div-img {
  width: 50%;
}
.container-portafolio .portfolio {
  color: rgba(255, 255, 255, 0.237);
  font-size: clamp(2rem, 8vw, 6rem);
}

@media screen and (max-width: 1250px) {
  .container-portafolio {
    flex-direction: column;
  }
  .container-portafolio .div-img {
    position: relative;
    bottom: -100px;
    width: 100%;
    text-align: center;
    z-index: 99;
  }
}
@media screen and (max-width: 768px) {
  .container-portafolio {
    padding: 1.5rem 1.5rem;
  }
}
@media screen and (max-width: 590px) {
  .div-img {
    bottom: 0 !important;
  }
}
img {
  max-width: 100%;
}

.cup-wrap {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.cup {
  position: absolute;
  bottom: 0;
}

.smoke-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}

.smoke,
.smoke2,
.smoke3 {
  filter: blur(5px);
  transform-origin: 50% 50%;
}

.smoke {
  -webkit-animation: smoke1 3s linear infinite;
          animation: smoke1 3s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.smoke2 {
  -webkit-animation: smoke2 3s linear infinite;
          animation: smoke2 3s linear infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.smoke3 {
  width: 500px;
  -webkit-animation: smoke3 4s linear infinite;
          animation: smoke3 4s linear infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes smoke1 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(-1, 1);
    opacity: 0;
  }
  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(-1, 1.05);
    opacity: 0.5;
  }
  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(-1, 1.1);
    opacity: 1;
  }
  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(-1, 1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(-1, 1.2);
    opacity: 0;
  }
}

@keyframes smoke1 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(-1, 1);
    opacity: 0;
  }
  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(-1, 1.05);
    opacity: 0.5;
  }
  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(-1, 1.1);
    opacity: 1;
  }
  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(-1, 1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(-1, 1.2);
    opacity: 0;
  }
}
@-webkit-keyframes smoke2 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }
  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(1.05);
    opacity: 0.5;
  }
  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(1.1);
    opacity: 1;
  }
  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(1.2);
    opacity: 0;
  }
}
@keyframes smoke2 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }
  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(1.05);
    opacity: 0.5;
  }
  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(1.1);
    opacity: 1;
  }
  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(1.2);
    opacity: 0;
  }
}
@-webkit-keyframes smoke3 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }
  25% {
    filter: blur(3px);
    transform: translateY(-20px) scale(1.05);
    opacity: 0.5;
  }
  50% {
    filter: blur(5px);
    transform: translateY(-40px) scale(1.1);
    opacity: 1;
  }
  75% {
    filter: blur(5px);
    transform: translateY(-60px) scale(1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(7px);
    transform: translateY(-80px) scale(1.2);
    opacity: 0;
  }
}
@keyframes smoke3 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }
  25% {
    filter: blur(3px);
    transform: translateY(-20px) scale(1.05);
    opacity: 0.5;
  }
  50% {
    filter: blur(5px);
    transform: translateY(-40px) scale(1.1);
    opacity: 1;
  }
  75% {
    filter: blur(5px);
    transform: translateY(-60px) scale(1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(7px);
    transform: translateY(-80px) scale(1.2);
    opacity: 0;
  }
}
@media screen and (max-width: 426px) {
  .smoke-wrap {
    bottom: 200px !important;
  }
}
.circle {
  position: fixed;
  width: 60px;
  height: 60px;
  z-index: 110;
  filter: url(#wavy) blur(1px);
}
.circle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 1px #0f0, inset 0 0 5px #0f0;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    box-shadow: 0 0 10px #0f0, inset 0 0 10px #0f0;
    filter: hue-rotate(0deg);
  }
  50% {
    box-shadow: 0 0 16px #0f0, inset 0 0 16px #0f0;
  }
  40% {
    box-shadow: 0 0 10px #0f0, inset 0 0 10px #0f0;
  }
  60% {
    box-shadow: 0 0 20px #0f0, inset 0 0 20px #0f0;
  }
  80% {
    box-shadow: 0 0 24px #0f0, inset 0 0 24px #0f0;
  }
  100% {
    box-shadow: 0 0 12px #0f0, inset 0 0 12px #0f0;
    filter: hue-rotate(360deg);
  }
}

@keyframes animate {
  0% {
    box-shadow: 0 0 10px #0f0, inset 0 0 10px #0f0;
    filter: hue-rotate(0deg);
  }
  50% {
    box-shadow: 0 0 16px #0f0, inset 0 0 16px #0f0;
  }
  40% {
    box-shadow: 0 0 10px #0f0, inset 0 0 10px #0f0;
  }
  60% {
    box-shadow: 0 0 20px #0f0, inset 0 0 20px #0f0;
  }
  80% {
    box-shadow: 0 0 24px #0f0, inset 0 0 24px #0f0;
  }
  100% {
    box-shadow: 0 0 12px #0f0, inset 0 0 12px #0f0;
    filter: hue-rotate(360deg);
  }
}
svg {
  width: 0;
  height: 0;
}/*# sourceMappingURL=styles.css.map */